<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<context:annotation-config></context:annotation-config>
	<bean id="organization" class="com.spring.service.Organization"/>
	
	<bean id="employee" class="com.spring.Entity.Employee">
		<property name="empId" value="${emp.empId}"></property>
		<property name="employeeName" value="${emp.employeeName}"></property>
		<property name="companyName" value="${emp.companyName}"></property>
		<property name="salary" value="${emp.salary}"></property>
	</bean>
	<context:component-scan base-package="com.spring"></context:component-scan>
	
	<context:property-placeholder location="application.properties" />
</beans>
