<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop = "http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop 
   		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<aop:aspectj-autoproxy/>
	<bean name="Circle" class="com.spring.SpringAOP.Model.Circle">
		<property name="shapeName" value="Cirlce" />
	</bean>
	<bean name="Triangle" class="com.spring.SpringAOP.Model.Triangle">
		<property name="shapeName" value="Triangle" />
	</bean>
	<bean name="ShapeServices" class="com.spring.SpringAOP.Services.ShapeServices">
		<constructor-arg ref="Triangle"></constructor-arg>
	</bean>
	<bean name="LoggingAspect" class="com.spring.SpringAOP.Aspect.LoggingAspectXML"/>
	<aop:config>
		<aop:aspect id="LoggingAspect" ref="LoggingAspect">
			<aop:before method="beforeMethod()" pointcut="execution(public String com.spring.SpringAOP.Model.*.getShapeType())"/>
			<aop:after method="afterMethod()" pointcut="execution(public String com.spring.SpringAOP.Model.*.getShapeType())"/>
		</aop:aspect>
	</aop:config>
</beans>